* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 10px;
	background-color: #eee;
	position: relative;
}
.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	/*padding-top: 10vh;*/
}
.intro-name {
	font-size: 4rem;
	font-weight: bold;
	
}
.intro-title {
	font-size: 2rem;
	font-weight: bold;
	opacity: .5;
}
.link {
	padding-top: 15px;
	position: relative;
	transition: all 200ms ease-out;
}

.link a {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bold;
	color: #11999E;
	transition: all 75ms cubic-bezier(0.4, 0, 1, 1);
	display: block;
	position: relative;
}
.link a:hover {
	transform-origin: right!important;
	transform: scale(1.1);
	box-sizing: border-box;
}
.link-grey a {
	color: #61529F;
}

.main-nav-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.main-nav {
	width: 20vw;
	box-sizing: border-box;
	height: 90%;
	justify-content: flex-start;
	position: fixed;
	left: 20px;
	top: 30px;
	padding: 20px;
}
.main-nav .intro-name {
	font-size: 2rem;
    font-weight: bold;
}
.nav-link {
	padding-top: 10px;
    position: relative;
    transition: all 200ms ease-out;
}
.nav-link a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #11999E;
    transition: all 75ms cubic-bezier(0.4, 0, 1, 1);
    display: block;
    position: relative;
}

.social-link {
	padding-top: 30px;
	list-style-type: none;
	text-align: left;
	padding-left: 0;
	display: block;
	width: 170px;
	margin: 0 auto;

}
.social-link li {
	padding-top: 1.2rem;
	
}
.nav-link a {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bold;
	color: #11999E;
	transition: all 75ms cubic-bezier(0.4, 0, 1, 1);
	display: block;
	position: relative;
}
.nav-link a:hover {
	transform-origin: right!important;
	transform: scale(1.1);
	box-sizing: border-box;
}
.nav-link.link-grey a {
	color: #61529F;
}
.social-link li a {
	font-size: 1.2rem;
	text-decoration: none;
	font-weight: 700;
	font-style: italic;
	color: #29435C;
	opacity: 0.5;
    display: block;
    position: relative;
}
.social-link li a:hover {
	opacity: 0.8;
	transform: scale(1.1);
	transition: transform .3s ease-in;
}
.main-nav .social-link {
    padding-top: 30px;
    list-style-type: none;
    text-align: left;
    padding-left: 0;
    display: block;
    width: 170px;
    margin-left: 0;
}
.main-nav .social-link  li {
	font-size: 1rem;
	padding-top: .7rem
}

.main-content {
	display: block;
	margin-left: 20vw;
	height: 90%;
	padding-top: 0vh;
}
.content-wrap {
	box-sizing: border-box;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1), 0px 1px 36px rgba(0,0,0,0.035);
	border-radius: 7px;
	margin: 1.75rem;
	background-color: white;
	min-height: 40vh;
	width: 65vw;
	padding: 1.75rem;
}
.content-item {
	color: rgba(0, 0, 0, .67);
	padding-left: 50px;

}
.hello {
	color: #222;
	font-weight: bold;
	font-size: 32px;
	padding-top: 20px;
}
.avatar {
	width: 120px;
	height: auto;
	border-radius: 10px;
}
.content-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	align-content: center;
}
.content-body {
	padding-top: 30px;
}
.desc {
	font-size: 1.1rem;
	padding-top: 10px;
	font-weight: 600;
}
.ref-link {
	color: #C06C84;
}
.ref-link:hover {
	color: #4B4A5A
}
.line {
	text-decoration: underline;
}
.desc--ongoing {
	padding-top: 20px;
	color: white;
	width: 280px;
	line-height: 1.6;

}
.alertclinic {
	background-image: url('../img/PlayStore_Feature_Graphic.png');
	background-position: top center;
	background-repeat: no-repeat;
	height: 50vh;	
}
.heit {
	background-image: url('../img/HEIT Website_Today.png');
	background-position: top center;
	background-repeat: no-repeat;
	height: 50vh;
	
}
.bitcoin {
	background-image: url('../img/bitcoin.png');
	background-position: top center;
	background-repeat: no-repeat;
	height: 50vh;
}
a.btn {
	margin-top: 30px;
}
.red {
	color: #F1684E;
}
.footer {
	position: absolute;
	bottom: -80px;
	right: 48%;
	margin: 0 auto;
	text-align: center;
	font-size: .75rem;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
}